textarea.input-wide, input.input-wide{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input.input-wide{
    height: 28px;
}
div.bootstrap-select.select-wide,input.select-wide{
    width: 100%;
}
div.bootstrap-select.select-small,input.select-small{
    width: 110px;
}

/**
 * Body: add enough margin to allow for top navigation
 */

body {
  position:relative;
  padding-top: 10px; 
  padding-bottom: 40px;
  padding-left: 10px;
  min-height: 1000px;
}

.lp-body {
  padding-top: 40px; 
}

.cdl-hero-unit-lp {
  background: url("https://cms.cispa.saarland/images/cdl_head.png"); 
  font-weight: 400;
  color: #ffffff;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.cdl-hero-unit-lp a {
	color: #dddddd;
}

.cdl-hero-unit {
  font-weight: 400;
}




/**
 * small tags in h1 headers
 */
h1.page-header small {
  margin-top: 0.5em;
  display: block;
}

a.site-logo {
    display: inline-block;
    border: none;
    vertical-align: bottom;
    margin-right: 30px;
}

p.site-title {
    display: inline-block;
    vertical-align: bottom;
}

/**
 * News
 *
 * News are displayed as table with two colums: Date and Description.
 * The HTML realization is a <dl class="news">
 */

dl.news dt {
  float: left;
  clear: left;
  text-align: right;
  padding-right: 1em;
}

dl.news dd {
  padding-bottom: 0.5em;
}

/**
 * Sidenav for Docs
 * Copied from bootstrap demo
 */

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
/*  width: 190px; */
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}


/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}

/*
 * Center style
 * Usage: <div class="span8 center">
 * NOTE: Only works if bootstrap css files were included before!
 */
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}


/*
 * User Login
 */
.container{
    position: relative;
}
.user-login {
	position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 10px;
}
.page-header-single {
    margin-top: 40px;
}
@media (max-width: 767px) {
    .user-login {
        position: inherit;
    }
    .page-header-single {
        margin-top: 0px;
    }
}


.loginForm {
	display: inline;
}

.loginForm label {
	padding-left: 5px;
	margin-left: 20px;
	vertical-align: text-bottom;
}

.loginForm input {
	margin-left: 10px;
}

.dropdown-menu li .dropdownentry{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
	background: none;
	border: none;
	width: 100%;
	text-align: left;
}
.dropdown-menu li .dropdownentry:hover, .dropdown-menu li .dropdownentry:focus {
    color: #FFF;
    text-decoration: none;
    background-color: #0081C2;
    background-image: linear-gradient(to bottom, #08C, #0077B3);
    background-repeat: repeat-x;
}


table.cake-sql-log tr{
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}

table.cake-sql-log td{
    padding-top: 10px;
    padding-bottom: 10px;
}


ul.testingresults-linklist{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*ul.testingresults-linklist ul{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}*/

ul.testingresults-linklist ul {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}

ul.testingresults-linklist ul ul{
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 12px;
}

ul.testingresults-linklist ul ul ul{
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 10px;
}


div.paging span{
    margin-left: 2px;
    margin-right: 2px;
}

div.paging span.current{
    font-weight: bold;
}

div.paging span.disabled{
    color: silver;
}




/*  =====  SelectorHelper  =====  */
    div.ds-modal table td.model-selector-key{
        display: none;
    }
    
    div.ds-modal table tr{
        cursor: pointer;
    }
    
    div.ds-modal table tr:hover, div.ds-modal table tr:hover td{
        background-color: #FCEFA1 !important;
    }
    
    div.ds-modal table{
        font-size: 12px;
    }
    
    .round-button-inner{
        display: table-cell;
        height: 25px;
        max-height: 25px;
        width: 25px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
        line-height: 20px;
        cursor: pointer;
    }
    
    .round-button{
        border: 2px solid silver;
        -khtml-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        background-color: white;
        height: 25px;
        width: 25px;
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
    }
    
    a.round-button{
        color: #000000;
    }
    a.round-button:hover, a.round-button:focus{
        text-decoration: none;
    }
    
    body .modal.ds-modal{
        width: 360px;
        margin-left: -180px;
    }

    
/*  =====  SelectorHelper end  =====  */


.input.checkbox label{
    display: inline-block;
}


.bs-tooltip-trans-low .tooltip.in {
  opacity: 0.93;
  filter: alpha(opacity=93);
}

.tooltip-inner {
    white-space: normal;
    font-weight: normal;
}
    
.bs-tooltip-big .tooltip-inner{
    max-width: 500px;
    text-align: left;
}

.bs-tooltip-big .tooltip-inner ul{
    min-width: 180px;
}

.tooltip-inner code{
    background-color: transparent;
    border: none;
}




div.actions{
    margin-top: 20px;
}

.btn-very-small{
    padding: 0px 7px;
    font-size: 10px;
    border-radius: 3px 3px 3px 3px;
}

div.bs-datetimepicker, div.bs-datepicker, div.bs-timepicker{
   display: block; 
}

td.btn-group, th.btn-group{
    display: table-cell;
    text-align: right;
}


.spansystem {
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;
}

.table th, .table td{
    width: auto;
}

div.ui-accordion .btn-group a.btn{
    color: white;
}

.cloakmail{
    cursor: pointer;
    text-decoration: underline;
}


.btnradios{
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}
.btnradios label{
    display: inline-block;
    margin-right: 50px;
}
.btnradios label.btn{
    margin-right: 0px;
    min-width: 70px;
}
.btnradios label.btn.active{
    background-color: rgb(200, 200, 200)
}

.btn.btn-small.btn-icon, .btn.btn-small.btn-icon:hover{
    padding-left: 7px;
    padding-right: 7px;
}

body td.text-center, th.text-center{
    text-align: center;
}

a.alert{
    display: block;
    text-align: center;
}

a.alert.alert-success:focus, a.alert.alert-success:hover{
    color: rgb(70, 136, 71);
}


th.bs-popover-cell div.popover{
    font-weight: normal;
}

th.bs-popover-cell div.popover .popover-title{
    font-weight: bold;
}

dl.dl-wide dt, dl.dl-wide dd{
    padding-top: 3px;
    padding-bottom: 3px;
}

.bootstrap-select .dropdown-menu li a{
    min-height: 20px;
}

.bootstrap-filestyle input, .bootstrap-filestyle label{
    vertical-align: top;
}


table.table-surrounded td, table.table-surrounded th{
    border-right: none;
    border-left: none;
}

table.table-surrounded tr td:first-child, table.table-surrounded tr th:first-child{
    border-left: 1px solid rgb(221, 221, 221);
}
    
table.table-surrounded td, table.table-surrounded th{
    vertical-align: middle;
}

table.table-autowidth{
    width: auto;
}

table.table-autowidth td, table.table-autowidth th{
    padding-left: 16px;
    padding-right: 16px;
}


form.form-horizontal .controls-text{
    padding-top: 5px;
}

form.form-horizontal.form-narrow .control-group{
    margin-bottom: 10px;
}

form.form-horizontal label.checkbox label{
    display: inline-block;
}

form.form-horizontal.form-narrow label.checkbox span.round-button{
    margin-top: -5px;
    margin-bottom: -15px;
}

.btn-group .btn.firstchild{
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}


.alert.alert-well{
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(227, 227, 227);
    color: #606060;
}

dl.dl-horizontal.dl-wider dt{
	width: 200px;
}
dl.dl-horizontal.dl-wider dd{
	margin-left: 220px;
}

dl.dl-horizontal.dl-wider2 dt{
  width: 250px;
}
dl.dl-horizontal.dl-wider2 dd{
  margin-left: 270px;
}


.showtextblock{
    background-color: #fff3e5;
}

.showtextblock > span > p, .showtextblock > span > div{
    border: 3px dashed #FAA732 !important;
}

.showtextblock > span > p, .showtextblock > span > div.section{
    padding: 5px;
    background-color: #fff3e5;
}


.nowrap{
    white-space: nowrap;
}


.well .progress{
  margin-bottom: 10px;
}

.text-muted{
  color: #505050;
  font-style: italic;
}

.text-muted3 {
    color: #868e96;
}

pre.export{
  overflow: scroll;
  white-space: pre;
}

input.input-monospace,
button.input-monospace,
select.input-monospace,
textarea.input-monospace {
  font-family: "Consolas", monospace;
}

@media (max-width: 767px) {
    div#scrollspy-container {
        position: static;
        width: auto;
        top: 0;
    }

    /* Fix modal content scrolling on small screens */
    .modal .modal-body {
        max-height: calc(100vh - 190px); /* or 210px */
    }

}

.modal > form {
    margin-bottom: 0;
}


.label.label-success-light {
    border: 1px solid #468847;
    padding: 2px 3px;
    background-color: #dff0d8;
}

.form.form-inline-display {
    display: inline;
}