.alert a {
	font-weight: 600;
	color: #8A6D3B;
}
.alert.alert-success a {
	color: #3C763D;
}
.alert.alert-info a {
	color: #005580;
}
.alert.alert-error a {
	color: #A94442;
}
.alert.alert-danger a {
	color: #A94442;
}
.alert.alert-well a {
	color: #505050;
}
.defaulttext{
    font-size: 14px;
    line-height: 20px;
}

.page-header .defaulttext{
    font-weight: bold;
}

div.page p{
    text-align: justify;
}


.nav > li > form > button {
  display: block;
	background-color: transparent;
	border: none;
}
.nav > li > form.form-inline {
	margin-bottom: 0;
}
.nav > li > form > button:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.navbar .nav > li > form > button {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}
.navbar .nav > li > form > button {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}
.navbar .nav > li > form > button:focus,
.navbar .nav > li > form > button:hover {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav > .active > form > button,
.navbar .nav > .active > form > button:hover,
.navbar .nav > .active > form > button:focus {
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar-inverse .nav > li > form > button {
  color: #999999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav > li > form > button:hover {
  color: #ffffff;
}
